body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: "gg sans Normal", serif;
}

.header {
	display: flex;
	justify-content: space-evenly;
	background-color: #001C35;
}

.headerlinks {
	display: flex;
	gap: 1rem;
}

.headerlinks a {
	text-decoration: none;
	color: white;
}

.headerlogo {
	width: 50px;
	height: auto;
}

.herocontent {
	display: flex;
	justify-content: space-evenly;
	background-color: #001C35;

}

.herotext {
	width: 500px;
	color: white;
	align-self: center;
}

.herotext h1 {
	font-weight: bold;
	font-size: 50px;
}

.heroimage {
	width: 300px;
}

.infoheader {
	align-self: center;
}

.examples {
	display: flex;
	justify-content: center;
	gap: 35px;
	height: 350px;
	align-items: baseline;
}

.examples img {
	border-radius: 25px;
	width: 150px;
	max-width: 100%;
	height: auto;
	margin: 15px;
	overflow: hidden;
}

.one,
.two,
.three,
.four {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 150px;
}

.jellyfish {
	align-self: center;
	display: flex;
	position: relative;
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 24px;
	background-color: #001C35; 
	color: white;
}

.jellyfish img {
	margin: 50px;
	border-radius: 25px;
	max-width: 100%;
}

