body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: "gg sans Normal", serif;
}

.header {
	display: flex;
	justify-content: space-evenly;
	background-color: #001C35;
	height: 80px;
	align-items: center;
}

.headerlinks {
	display: flex;
	gap: 1rem;
}

.headerlinks a {
	text-decoration: none;
	color: white;
}

.headerlogo {
	width: 80px;
	height: auto;
}

.herocontent {
	display: flex;
	justify-content: space-evenly;
	background-color: #001C35;
	padding: 50px;

}

.herotext {
	width: 500px;
	color: white;
	align-self: center;
}

.btn {
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 35px;
	border: 1px solid #1CFF7A;
	display: inline-block;
	text-align: center;
	box-shadow: 0 9px #999;

}
.btn:hover { 
	background-color: #5993FF;color: white;
}
.btn:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.herotext h1 {
	font-weight: bold;
	font-size: 50px;
}

.heroimage {
	width: 300px;
}

.infoheader {
	align-self: center;
}

.examples {
	display: flex;
	justify-content: center;
	gap: 35px;
	height: 350px;
	align-items: baseline;
}

.examples img {
	border-radius: 25px;
	width: 150px;
	max-width: 100%;
	height: auto;
	margin: 15px;
	overflow: hidden;
}

.one,
.two,
.three,
.four {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 150px;
}

.jellyfish {
	align-self: center;
	display: flex;
	position: relative;
	gap: 5rem;
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 24px;
	background-color: #001C35;
	color: white;

}



.calf {
	display: flex;
	justify-content: center;
	margin: 80px;
	padding: 30px 70px;
	border-radius: 15px;
	background-color: #77BDFF;
	align-items: center;
	align-self: center;
}

.convince {
	max-width: 500px;
	align-self: baseline;
}
.convince h3, p {
	margin: 0px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #001C35;
	text-align: center;
	padding: 25px;
	color: white;
}

